.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;

  border: 1px solid var(--background-soc-icon);
  border-radius: 4px;

  justify-content: center;
  align-items: center;
  transition: border 250ms var(--time-function);
}

.clients__item:last-child {
  margin-right: 0px;
}

.clients__icon {
  fill: var(--background-soc-icon);
  transition: fill 250ms var(--time-function);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-first-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-first-color);
}
